@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@700;900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  line-height: normal;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
  padding-left: 0;
}

body {
  font-size: 1vw;
  background-color: #121215;
  position: relative;
  overflow-x: hidden;
}

main {
  overflow: hidden;
  position: relative;
  padding: 0 0 0.1em 20.4em;
  background-image: linear-gradient(
    to bottom,
    #dba152,
    #da9850,
    #d98e4e,
    #d7854d,
    #d47c4d,
    #d3764d,
    #d1704d,
    #cf6a4d,
    #cf654d,
    #ce614d,
    #ce5c4d,
    #cd574d
  );
}

section {
  z-index: 10;
}

@keyframes animOrbit {
  0% {
    transform: translate(0);
  }
}

@keyframes arrow1 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-1em) rotate(-10deg);
  }
  60% {
    transform: translateY(0) rotate(0);
  }
  90% {
    transform: translateY(-1em) rotate(-10deg);
  }
}
@keyframes arrow2 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(1em) rotate(10deg);
  }
  60% {
    transform: translateY(0) rotate(0);
  }
  90% {
    transform: translateY(1em) rotate(10deg);
  }
}
@keyframes arrow1-mob {
  0% {
    transform: translateY(0) rotate(0) scale(-1, 1);
  }
  30% {
    transform: translateY(-1em) rotate(-10deg) scale(-1, 1);
  }
  60% {
    transform: translateY(0) rotate(0) scale(-1, 1);
  }
  90% {
    transform: translateY(-1em) rotate(-10deg) scale(-1, 1);
  }
}
@keyframes arrow2-mob {
  0% {
    transform: translateY(0) rotate(0) scale(-1, 1);
  }
  30% {
    transform: translateY(1em) rotate(10deg) scale(-1, 1);
  }
  60% {
    transform: translateY(0) rotate(0) scale(-1, 1);
  }
  90% {
    transform: translateY(1em) rotate(10deg) scale(-1, 1);
  }
}
@keyframes animation-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-wrapper {
  position: absolute;
  right: 43.5em;
  top: 49.7em;
  transform: rotate(-25deg);
  animation: animation-appearance 5s forwards;
}

.system {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-116.6deg);
}

.phone-wrapper,
.orbit,
.orbit-1,
.planet,
.planet-1,
.lines-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  border-radius: 50%;
}

.phone-wrapper,
.planet,
.planet-1 {
  margin-left: -2em;
  margin-top: -2em;
}

.planet-1 {
  left: 4.4em;
  margin-top: 0;
}

.phone-wrapper {
  transform: rotateX(116deg);
  margin-top: 42em;
}
.flare {
  position: absolute;
  top: 11em;
  right: -23em;
  width: 24em;
  transform: rotate(116deg);
  animation: flare 3s ease-in-out alternate infinite;
}
.orbit {
  width: 51.6em;
  height: 51.6em;
}
.orbit-1 {
  left: -4.4em;
  top: -3.8em;
  width: 60.6em;
  height: 60.6em;
}
.orbit-1-anim {
  animation: animOrbit 9s linear infinite;
}
.planet-1-anim {
  animation: animPlanet 9s linear infinite;
}
.orbit-2-anim {
  animation: animOrbit-1 9s linear infinite;
}
.planet-2-anim {
  animation: animPlanet-1 9s linear infinite;
}
.orbit-3-anim {
  animation: animOrbit 11s linear infinite;
  animation-delay: 1s;
}
.planet-3-anim {
  animation: animPlanet 11s linear infinite;
  animation-delay: 1s;
}
.orbit-4-anim {
  animation: animOrbit-1 7s linear infinite;
  animation-delay: 0.5s;
}
.planet-4-anim {
  animation: animPlanet-1 7s linear infinite;
  animation-delay: 0.5s;
}
.orbit-5-anim {
  animation: animOrbit 7s linear infinite;
  animation-delay: 0.5s;
}
.planet-5-anim {
  animation: animPlanet 7s linear infinite;
  animation-delay: 0.5s;
}
.planet-5-anim > img {
  transform: rotateX(244deg);
}

.planet {
  left: 100%;
}
.lines-wrapper {
  margin-top: 42em;
  transform: rotateX(116.6deg);
}

@keyframes flare {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes animOrbit {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@keyframes animOrbit-1 {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes animPlanet {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}
@keyframes animPlanet-1 {
  0% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}

@-webkit-keyframes ccircle {
  from {
    -webkit-transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
  }
}

.button {
  display: inline-block;
  background-color: #ffd801;
  border-radius: 42.1px;
  text-decoration: none;
  padding: 0.9em 2.5em;
  font-size: 1.25em;
  color: #43191a;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  z-index: 10;
  margin-bottom: 7em;
}
.button:hover {
  color: #ffffff;
  background-color: #1efe00;
  text-decoration: none;
  transition: all 0.2s ease;
}

.text {
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  font-size: 1.55em;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #ea674c;
  height: 3.2em;
}
.header > a {
  display: flex;
  align-items: center;
}
.logo {
  width: 11.7em;
}

.lines {
  position: absolute;
  right: -51.1em;
  top: -14em;
  width: 53.9em;
  transform: rotate(25deg);
}
.phone {
  position: absolute;
  right: -43.8em;
  top: -19.2em;
  width: 27.8em;
  transform: rotate(25deg);
}
.crystal1 {
  width: 4em;
}
.crystal-wrapper {
  position: absolute;
  right: 4.7em;
  top: 27.4em;
  width: 41em;
  animation: ellipse 4s linear infinite;
}
.main-screen {
  padding-top: 5em;
  position: relative;
}
.main-screen__title {
  font-weight: 900;
  font-size: 3.15em;
  max-width: 11em;
  line-height: 1.2em;
  color: #fff;
  margin-bottom: 0.7em;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
}
.main-screen__text {
  font-weight: 700;
  font-size: 1.6em;
  color: #ffffff;
  margin-bottom: 0.7em;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.main-screen__subtitle {
  font-weight: normal;
  font-size: 1.6em;
  color: #ffffff;
  margin-bottom: 1.7em;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 1.5px;
}
.main-screen__rights {
  position: relative;
  z-index: 15;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 0.95em;
  max-width: 32.6em;
  line-height: 1.2em;
  color: #fff;
  margin-bottom: 1.6em;
  display: flex;
}
.main-screen__rights:last-child {
  margin-bottom: 3.2em;
}
.footer {
  padding: 1.5em 0;
  background-color: #43191a;
}
.footer__list {
  display: flex;
  padding-left: 20.4em;
}
.footer__number {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  background-color: #532728;
  border-radius: 50%;
  width: 2.9em;
  height: 2.9em;
  color: #fff7f5;
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}
.footer__list-item {
  display: flex;
  align-items: center;
}

.footer__first-text {
  margin-right: 1.15em;
}
.footer__second-text {
  margin-right: 0.2em;
}
.footer__text {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 1.5;
  max-width: 9em;
  font-size: 1.3em;
}
.footer__arrow-1 {
  margin-right: 1.9em;
  width: 2.1em;
  animation: arrow1 3.2s ease-in-out alternate infinite;
}
.footer__arrow-2 {
  margin-right: 1.9em;
  width: 2.1em;
  animation: arrow2 3.2s ease-in-out alternate infinite;
}

@media (max-width: 500px) {
  .header {
    height: 7.2em;
  }
  .logo {
    width: 27.7em;
  }
  main {
    padding: 0;
  }
  .main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-screen__text {
    font-size: 3.6em;
  }
  .main-screen__title {
    max-width: none;
    font-size: 4.55em;
    margin-bottom: 0.3em;
  }
  .main-screen__subtitle {
    font-size: 3.6em;
    margin-bottom: 0.8em;
  }
  .button {
    padding: 0.9em 1.9em;
    font-size: 4.15em;
    margin-bottom: 2em;
  }
  .main-screen__rights {
    font-size: 2.95em;
    max-width: 26.8em;
    text-align: center;
    margin-bottom: 1em;
  }
  .main-screen__rights:last-child {
    margin-bottom: 25em;
  }
  .animation-wrapper {
    right: 80.5em;
    top: 154.7em;
    transform: rotate(-25deg) scale(1.6);
  }
  .footer {
    padding: 3.5em 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 8em;
  }
  .footer__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .footer__text {
    max-width: unset;
    font-family: "PT Sans", sans-serif;
    font-weight: 900;
    font-size: 3.9em;
  }
  .footer__number {
    width: 2.9em;
    height: 2.9em;
    font-size: 3.6em;
  }
  .footer__list-item:not(:last-child) {
    margin-bottom: 2em;
    position: relative;
  }
  .footer__arrow-1,
  .footer__arrow-2 {
    position: absolute;
    margin: 0;
    width: 7.1em;
    transform: scale(-1, 1);
  }
  .footer__arrow-1 {
    top: 10em;
    right: -3em;
    animation: arrow1-mob 3.2s ease-in-out alternate infinite;
  }
  .footer__arrow-2 {
    top: 10em;
    right: -7em;
    animation: arrow2-mob 3.2s ease-in-out alternate infinite;
  }
}
